

.estante .lista-livros {
  text-align: center;
  padding: 32px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.estante h3 {
  color: white;
  font-size: 32px;
  padding-bottom: 8px;
  font-style: italic;
  background: rgba(0, 0, 0, 0.048);
  text-align: center;
  transition: 1s;
}

.estante h3:hover {
  background: black;
}

@media (min-width: 360px) {

  .lista {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 720px) {
  .lista {
    display: block;
  }
}

