.estante .lista-livros  {
    text-align: center;
    padding: 32px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.estante h3 {
    color: black;
    font-size: 32px;
    border-bottom: 4px solid #57C278;
    padding-bottom: 8px;
    background: red;
    text-align: center;
}
