.lista-livros h1 {
  text-align: center;
}

.lista-livros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-livro {
  padding: 6px;
}

.lista-livros img {
  width: 300px;
  height: 300px;
}



@media (min-width: 320px) {
  .lista-livros {
    flex-direction: column;
  }

  .lista-livros img {
    margin: 25px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 360px) {
  .lista-livros {
    flex-direction: column;
  }

  .lista-livros img {
    margin: auto;
    width: 290px;
    height: 290px;
  }
}

@media (min-width: 414px) {
  .lista-livros img {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 720px) {
  .lista-livros img {
    width: 276px;
    height: 330px;
  }
}
