.lista-livros h1 {
    color: white;
    text-align: center;
}

.lista-livros {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.lista-livros img {
    width: 300px;
    height: 300px;
}

@media (max-width: 360px) {
    .lista-livros {
        flex-direction: column;
    }

    .lista-livros img {
        max-width: 500px;
        width: 400px;
    }
}