.formulario {
  display: flex;
  justify-content: center;
  background-image: url(../../public/images/BackgroundLivraria.png);
  background-size: 100% 100%;
}

.formulario form {
  margin: 50px;
  width: 50vw;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

@media (max-width: 360px) {
  .formulario form {
    margin: 20px 0;
    width: 210px;
  }
}

@media (max-width: 720px) {
  .formulario form {
    margin: 20px 0;
    width: 60%;
  }
}
