.conteudo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
     background: #fff;
     padding: 20px;
     border-radius: 5px;
     width: 50%;
     height: 50%;
  }
  
  .fechar {
    background: red;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }